In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 

warnings.filterwarnings('ignore')

In [9]:
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')

In [10]:
train_data_original = train_data.copy()
test_data_original = test_data.copy()

In [11]:
train_data.head()

,Customer_Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building_Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0

In [12]:
test_data.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code
0,H11920,2013,1.000000,0,V,N,O,R,300.0,1,1960.0,3,3310
1,H11921,2016,0.997268,0,V,N,O,R,300.0,1,1960.0,3,3310
2,H9805,2013,0.369863,0,V,V,V,U,790.0,1,1960.0,.,3310
3,H7493,2014,1.000000,0,V,N,O,R,1405.0,1,2004.0,3,3321
4,H7494,2016,1.000000,0,V,N,O,R,1405.0,1,2004.0,3,3321

In [13]:
train_data.shape, test_data.shape

((7160, 14), (3069, 13))

In [14]:
train_data['Garden'].fillna(train_data['Garden'].mode()[0], inplace=True) 
train_data['Building_Dimension'].fillna(train_data['Building_Dimension'].mode()[0], inplace=True) 
train_data['Date_of_Occupancy'].fillna(train_data['Date_of_Occupancy'].mode()[0], inplace=True) 
train_data['Geo_Code'].fillna(train_data['Geo_Code'].mode()[0], inplace=True)

In [15]:
test_data['Garden'].fillna(test_data['Garden'].mode()[0], inplace=True) 
test_data['Building Dimension'].fillna(test_data['Building Dimension'].mode()[0], inplace=True) 
test_data['Date_of_Occupancy'].fillna(test_data['Date_of_Occupancy'].mode()[0], inplace=True) 
test_data['Geo_Code'].fillna(test_data['Geo_Code'].mode()[0], inplace=True)

In [16]:
X = train_data.drop(['Customer_Id','Claim'],axis=1)
y = train_data['Claim']

from sklearn.model_selection import train_test_split

In [17]:
X = pd.get_dummies(X)
train_data = pd.get_dummies(train_data)
test_data = pd.get_dummies(test_data)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [19]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((5728, 1332), (1432, 1332), (5728,), (1432,))

In [20]:
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score

In [21]:
sm = SMOTE(random_state=27)

In [22]:
X_train, y_train = sm.fit_sample(X_train, y_train)

In [23]:
smote = LogisticRegression(solver='liblinear').fit(X_train, y_train)

In [24]:
smote_pred = smote.predict(X_test)

In [25]:
accuracy_score(y_test, smote_pred)

0.770949720670391

In [26]:
confusion_matrix(smote_pred, y_test)

array([[1020,  256],
       [  72,   84]], dtype=int64)

In [27]:
recall_score(smote_pred, y_test)

0.5384615384615384

In [28]:
precision_score(smote_pred, y_test)

0.24705882352941178

In [29]:
RF_smote = RandomForestClassifier().fit(X_train, y_train)
smote_pred1 = RF_smote.predict(X_test)
accuracy_score(y_test, smote_pred1)

0.7213687150837989

In [30]:
confusion_matrix(smote_pred1, y_test)

array([[908, 215],
       [184, 125]], dtype=int64)