In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
stroke_data = pd.read_csv('healthcare-dataset-stroke-data.csv')
stroke_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
stroke_data.shape

(5110, 12)

In [4]:
stroke_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [7]:
stroke_data.duplicated().sum()

0

In [8]:
stroke_data.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [9]:
stroke_data = stroke_data.dropna()

In [10]:
stroke_data_copy = stroke_data.copy()

In [13]:
stroke_data.hypertension.replace(0, 'No', inplace=True)
stroke_data.hypertension.replace(1, 'Yes', inplace=True)
stroke_data.heart_disease.replace(0, 'No', inplace=True)
stroke_data.heart_disease.replace(1, 'Yes', inplace=True)
stroke_data.stroke.replace(1, 'Yes', inplace=True)
stroke_data.stroke.replace(0, 'No', inplace=True)

C:\Users\user\newanaconda\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [14]:
stroke_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,No,Yes,Yes,Private,Urban,228.69,36.6,formerly smoked,Yes
2,31112,Male,80.0,No,Yes,Yes,Private,Rural,105.92,32.5,never smoked,Yes
3,60182,Female,49.0,No,No,Yes,Private,Urban,171.23,34.4,smokes,Yes
4,1665,Female,79.0,Yes,No,Yes,Self-employed,Rural,174.12,24.0,never smoked,Yes
5,56669,Male,81.0,No,No,Yes,Private,Urban,186.21,29.0,formerly smoked,Yes

In [17]:
stroke_data.to_csv('stroke_data_clean.csv', index=False)

In [18]:
pip install plotly

Collecting plotlyNote: you may need to restart the kernel to use updated packages.
  Downloading plotly-4.14.3-py2.py3-none-any.whl (13.2 MB)
Requirement already satisfied: six in c:\users\user\newanaconda\lib\site-packages (from plotly) (1.15.0)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11434 sha256=ddc0a137c6774a6db54a406a4dc95b0314a1b176e3040f7ba396e69ea7ebc828
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\c4\a7\48\0a434133f6d56e878ca511c0e6c38326907c0792f67b476e56
Successfully built retrying
Installing collected packages: retrying, plotly
Successfully installed plotly-4.14.3 retrying-1.3.3

In [19]:
conda install -c plotly plotly=4.14.3

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\user\newanaconda

  added / updated specs:
    - plotly=4.14.3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.10.1               |   py38haa95532_1         2.9 MB
    plotly-4.14.3              |             py_0         5.9 MB  plotly
    retrying-1.3.3             |             py_2          14 KB
    ------------------------------------------------------------
                                           Total:         8.8 MB

The following NEW packages will be INSTALLED:

  plotly             plotly/noarch::plotly-4.14.3-py_0
  retrying           pkgs/main/noarch::retrying-1.3.3-py_2

The following packages will be UPDATED:

  conda              conda-forge::conda-4.10.1-py38haa244f~ --> pkgs/main::conda-4.10.1-py38haa95532_1



Downloading and Extracting Packages

plotly-4.14.3        | 5.9 MB    |            |   0%
plotly-4.14.3        | 5.9 MB    | ########## | 100%
plotly-4.14.3        | 5.9 MB    | ########## | 100%

conda-4.10.1         | 2.9 MB    |            |   0%
conda-4.10.1         | 2.9 MB    |            |   1%
conda-4.10.1         | 2.9 MB    | 2          |   3%
conda-4.10.1         | 2.9 MB    | 5          |   5%
conda-4.10.1         | 2.9 MB    | 7          |   8%
conda-4.10.1         | 2.9 MB    | #          |  10%
conda-4.10.1         | 2.9 MB    | #1         |  12%
conda-4.10.1         | 2.9 MB    | #4         |  15%
conda-4.10.1         | 2.9 MB    | #5         |  16%
conda-4.10.1         | 2.9 MB    | #9         |  20%
conda-4.10.1         | 2.9 MB    | ##1        |  21%
conda-4.10.1         | 2.9 MB    | ##2        |  23%
conda-4.10.1         | 2.9 MB    | ##4        |  24%
conda-4.10.1         | 2.9 MB    | ##6        |  26%
conda-4.10.1         | 2.9 MB    | ##7        |  28%
conda-4.10.1         | 2.9 MB    | ##9        |  29%
conda-4.10.1         | 2.9 MB    | ###        |  31%
conda-4.10.1         | 2.9 MB    | ###2       |  33%
conda-4.10.1         | 2.9 MB    | ###4       |  34%
conda-4.10.1         | 2.9 MB    | ###5       |  36%
conda-4.10.1         | 2.9 MB    | ###7       |  37%
conda-4.10.1         | 2.9 MB    | ###9       |  40%
conda-4.10.1         | 2.9 MB    | ####1      |  41%
conda-4.10.1         | 2.9 MB    | ####2      |  43%
conda-4.10.1         | 2.9 MB    | ####4      |  45%
conda-4.10.1         | 2.9 MB    | ####6      |  46%
conda-4.10.1         | 2.9 MB    | ####7      |  48%
conda-4.10.1         | 2.9 MB    | ####9      |  49%
conda-4.10.1         | 2.9 MB    | #####1     |  51%
conda-4.10.1         | 2.9 MB    | #####2     |  52%
conda-4.10.1         | 2.9 MB    | #####5     |  55%
conda-4.10.1         | 2.9 MB    | #####7     |  57%
conda-4.10.1         | 2.9 MB    | #####8     |  59%
conda-4.10.1         | 2.9 MB    | ######     |  60%
conda-4.10.1         | 2.9 MB    | ######1    |  62%
conda-4.10.1         | 2.9 MB    | ######3    |  64%
conda-4.10.1         | 2.9 MB    | ######5    |  65%
conda-4.10.1         | 2.9 MB    | ######6    |  67%
conda-4.10.1         | 2.9 MB    | #######7   |  78%
conda-4.10.1         | 2.9 MB    | ########   |  81%
conda-4.10.1         | 2.9 MB    | ########3  |  84%
conda-4.10.1         | 2.9 MB    | ########5  |  86%

Note: you may need to restart the kernel to use updated packages.conda-4.10.1         | 2.9 MB    | ########8  |  88%
conda-4.10.1         | 2.9 MB    | #########  |  90%
conda-4.10.1         | 2.9 MB    | #########2 |  92%
conda-4.10.1         | 2.9 MB    | #########4 |  95%
conda-4.10.1         | 2.9 MB    | #########6 |  96%
conda-4.10.1         | 2.9 MB    | #########7 |  98%
conda-4.10.1         | 2.9 MB    | #########9 |  99%
conda-4.10.1         | 2.9 MB    | ########## | 100%

retrying-1.3.3       | 14 KB     |            |   0%
retrying-1.3.3       | 14 KB     | ########## | 100%
retrying-1.3.3       | 14 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done