In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
real_estate = pd.read_csv('riga_re.csv')
real_estate.head()

,op_type,district,street,rooms,area,floor,total_floors,house_seria,house_type,condition,price,lat,lon
0,For rent,Purvciems,Dzelzavas 93,1,27.0,3.0,5.0,LT proj.,Brick-Panel,All amenities,250.0,56.955484,24.202139
1,For rent,Ziepniekkalns,Ozolciema 32,2,50.0,7.0,9.0,602.,Panel,All amenities,300.0,56.899798,24.098350
2,For sale,centrs,Ieroču 6,2,33.0,1.0,2.0,P. kara,Wood,Partial amenities,13500.0,56.975092,24.139884
3,For sale,Ķengarags,Maskavas 305,2,50.0,5.0,5.0,LT proj.,Panel,All amenities,34000.0,56.859788,24.308342
4,For rent,Teika,Zemgala gatve 80,3,76.0,3.0,12.0,Jaun.,Masonry,All amenities,490.0,56.977745,24.166042

In [6]:
real_estate.shape

(4689, 13)

In [7]:
real_estate.duplicated().sum()

211

In [8]:
real_estate = real_estate.drop_duplicates()

In [9]:
real_estate.isna().sum()

op_type           0
district         12
street          303
rooms           117
area            215
floor           184
total_floors    195
house_seria     293
house_type      301
condition       259
price           321
lat             204
lon             204
dtype: int64

In [10]:
real_estate = real_estate.dropna()

In [11]:
real_estate.to_csv('real_estate_clean.csv', index=False)